[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DNetFinder"]
	path = DNetFinder
	url = https://github.com/cran/DNetFinder
[submodule "PEGroupTesting"]
	path = PEGroupTesting
	url = https://github.com/cran/PEGroupTesting
